<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Bloverse" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="Bloverse" />


    <meta property="og:url" content="#{baseUrl}redirect/#{slug}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="#{title}" />
    <meta property="og:description" content="#{keypointString}" />
    <meta property="og:image" content="#{image_url}" />

    <title>Bloverse</title>

</head>
<body>
   <p>Redirecting to <a href="#{baseUrl}posts/#{slug}">#{baseUrl}redirect/#{slug}</a></p> 
   <script>
        // Will perform redirect to the vue page here
   </script>
</body>

</html>